@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

body{
    background: #4F9AB8;
    box-sizing: border-box;
	font-family: 'Rajdhani', sans-serif;
}

#cont{
    width:80%;
    margin:10%;
}
#cont-header{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
#cont-flux{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    align-items:  center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 20px;
}
#container{
    width:45%;
}

#card{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;

}

.ticket{
    position: relative;
    width:80%;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;

}
.ticket img{
  width: auto;
  height: 50%;
  margin-left: 20px;
}
#cont-home{
    margin: 3%;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items:  center;
}
#cont-home button{

    padding: 9px 25px;
    background-color: #838FC0;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FFF;
    margin-left: auto;
    margin-right: auto;

}
#cont-home button:hover{

    padding: 9px 25px;
    background-color: #838FC0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FFF;
    opacity: 0.7;

}
#card-top{
    width:80%;

    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items:  center;
    padding: 30px 10%;

}
#card-top .user{
    text-align: end;
}
#card-top h2{
    float: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
}
#container h1{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}
.right{
float: right;
}
.left{
    float: left;
}

.center{
    float: center;
    margin-left: auto;
    margin-right: auto;
}

a {
text-decoration:none;
}
.button
{
    background-color: #066FB3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;

}
.button:hover{
    background-color: white;
    color: #066FB3;
    border: 1px solid #066FB3;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #066FB3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #066FB3;
    border: 1px solid #066FB3;
}
#card-top li ,a {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3 ease 0s;
}
.nav_links li a:hover{
    color: #4F9AB8;
}
#card-top button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #fff;
}
#card-top button:hover{
    background-color: rgba(0,136,169,0.7);
}