{% extends 'header.html' %}
{% block content %}

    <h2>Créer une critique</h2>
    <form method="post" enctype="multipart/form-data">
        <p>Vous êtes en train de poster en réponse à</p>
        <div class="ticket">
            dfsd
                <p>Ticket - {{ ticket.user }} | {{ ticket.time_created }}</p>
                <p>{{ ticket.title }}</p>
                <p>{{ ticket.description }}</p>
                <img src="{{ ticket.image.url }}">
        </div>
        {{ form.as_p }}
        {% csrf_token %}

        <button type="submit" value="Update" >Enregistrer</button>
    </form>
{% endblock content %}