{% extends 'base.html' %}

{% block header %}
    {%  if user.is_authenticated %}
    <div id="cont-header">
        <div id="card-top">
            <h2>LITReview</h2>
            <ul class="nav_links">
                <li><a href="{% url 'home' %}">Flux</a></li>
                <li><a href="{% url 'posts' %}">Posts</a></li>
                <li><a href="{% url 'subscription' %}">Abonnements</a></li>
            </ul>
            <p class="user"><a href="{% url 'logout' %}"><button>Se déconnecter</button></a></p>
        </div>
    </div>
{% endif %}
{% endblock header %}