{% extends 'header.html' %}
{% block content %}
 <div id="cont-home">
     <button><a href="{% url 'create_ticket' %}">Demander une critique</a></button>
     <button><a href="{% url 'create_ticket_review' %}">Créer une critique</a></button>
 </div>

{% for post in posts %}

    {% if post.body  %}
          <div id="cont-flux">
        <p>{{ post.user }} a écrit une critique  | {{ post.time_created }}</p>
        <p>{{ post.headline }}  {% include "includes/rating.html" with test=post.rating %}</p>
        <p>{{ post.body }}</p>
          <div class="ticket">
                    <p>Ticket - {{ post.ticket.user }} | {{ post.ticket.time_created }}</p>
                    <p>{{ post.ticket.title }}</p>
                    <p>{{ post.ticket.description }}</p>
                    <img src="{{ post.ticket.image.url }}">
                </div>
            </div>
    {% else %}
        <div class="ticket">
            <p>{{ post.user }} a demandé une critique | {{ post.time_created }}</p>
            <p>{{ post.title }}</p>
            <p>{{ post.description }}</p>
            <img src="{{ post.image.url }}">
            <a href="{% url 'create_review_from_ticket' post.pk %}">Créer une critique</a>
        </div>
    {% endif %}
{% endfor %}


{% endblock content %}
