{% extends 'header.html' %}
{% block content %}



{% for review in reviews %}
<div id="cont-home">
</div>
        <div id="cont-flux">
            <p>{{ review.user }} a écrit une critique  | {{ review.time_created }}</p>
            <p>{{ review.headline }} - {% include "includes/rating.html" with test=review.rating %}</p>
            <p>{{ review.body }}</p>

            <div class="ticket">
                <p>Ticket - {{ review.ticket.user }} | {{ review.ticket.time_created }}</p>
                <p>{{ review.ticket.title }}</p>
                <p>{{ review.ticket.description }}</p>
                <img src="{{ review.ticket.image.url }}">
            </div>

            <form method="post" action="{% url 'delete_review' review.pk %} "><a href="{% url 'update_review' review.pk %} ">Modifier</a>{% csrf_token %}<button type="submit">Supprimer</button></form>

        </div>

{% endfor %}
{% for ticket in tickets %}

            <div class="ticket">
                <p>Ticket - {{ ticket.user }} | {{ ticket.time_created }}</p>
                <p>{{ ticket.title }}</p>
                <p>{{ ticket.description }}</p>
                <img src="{{ ticket.image.url }}">


             <form method="post" action="{% url 'delete_ticket' ticket.pk %} "><a href="{% url 'update_ticket' ticket.pk %} ">Modifier</a>{% csrf_token %}<button type="submit">Supprimer</button></form>
                </div>

{% endfor %}
{% endblock content %}