{% extends 'header.html' %}
{% block content %}

    <h2>Modifier une critique</h2>
    <form method="post" enctype="multipart/form-data">
        <p>Vous êtes en train de poster en réponse à</p>
        <div class="ticket">
                <p>Ticket - {{ review.ticket.user }} | {{ review.ticket.time_created }}</p>
                <p>{{ review.ticket.title }}</p>
                <p>{{ review.ticket.description }}</p>
                <img src="{{ review.ticket.image.url }}">
        </div>
        {{ form.as_p }}
        {% csrf_token %}

        <button type="submit" value="Update" >Enregistrer</button>
    </form>
{% endblock content %}